@import "../../styles/custom-media.css";
@import '../../styles/custom-properties.css';

.root {
  position: relative;
  display: flex;
  flex-flow: row nowrap;

  @media (--media-max-large) {
    display: block;
  }

  @nest & > * {
    width: 50%;

    @media (--media-max-large) {
      width: 100%;
    }
  }
}

.label {
  /* font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 1em; */
}

.label + .title {
  /* margin-top: 0.2em; */
}

.title {
  /* font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height); */
}

.textWrapper {
  display: flex;;
  justify-content: center;
}

.textContent {
  padding: 2em;
  max-width: 500px;
}
  
.imgWrapper {
}
.imgSection {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  @media (--media-max-large) {

  }
}

.image {
  display: none;
  width: 100%;

  @media (--media-max-large) {
    display: block;
  }
}